.Rproj.user
.Rhistory
.Rdata

src/*.o
src/*.dll

.httr-oauth
.DS_Store
Rplots.pdf
mynotes/
trials/RealData/Datasets/
trials/RealData/PowerStudy/New!/alpha0.2/DigitsOnly0.2/Lehmann k=4/resDigits_alpha02_k4_alln1s
trials/RealData/PowerStudy/FinalSimu/CreditCard/resCreditCard0.1v2
trials/RealData/PowerStudy/FinalSimu/ALOI/resALOI0.1
trials/RealData/k_est.pdf
trials/RealData/k_est-Rmd
trials/RealData/DigitsAE.R
trials/RealData/PowerStudy/applDatiRealiLMPI.R
trials/RealData/PowerStudy/NewTidyNoSimuFunction/
trials/RealData/PowerStudytrials/RealData/PowerStudy/New/
trials/RealData/PowerStudytrials/RealData/PowerStudy/NewTidy/
