.Rproj.user
.Rhistory
.Rdata

src/*.o
src/*.dll

.httr-oauth
.DS_Store
Rplots.pdf
mynotes/
trials/RealData/Datasets/
trials/RealData/PowerStudy/New!/alpha0.2/DigitsOnly0.2/Lehmann k=4/resDigits_alpha02_k4_alln1s
