.Rproj.user
.Rhistory
.Rdata

src/*.o
src/*.dll

.httr-oauth
.DS_Store
Rplots.pdf
mynotes/
trials/RealData/Datasets/
trials/RealData/PowerStudy/New!/alpha0.2/DigitsOnly0.2/Lehmann k=4/resDigits_alpha02_k4_alln1s
trials/RealData/PowerStudy/FinalSimu/CreditCard/resCreditCard0.1v2
trials/RealData/PowerStudy/FinalSimu/ALOI/resALOI0.1
trials/RealData/k_est
trials/RealData/DigitsAE
trials/RealData/PowerStudy/applDatiRealiLMPI
trials/RealData/PowerStudy/New&TidyNoSimuFunction/
trials/RealData/PowerStudy/New&Tidy/
trials/RealData/PowerStudy/New!/

